* {
  text-decoration: none;
  color: rgb(28, 28, 28);
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  position: relative;
  text-align: left;
  background-color: rgb(28, 28, 28);
}
svg {
  margin: 0;
  padding: -20px;
  width: 30%;
}

/* typography */
h1 {
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 4rem;
}

h3 {
  margin: 20px 0 0 0;
  font-size: 1.5rem;
}

span {
  font-weight: bold;
}

/* Header */

header {
  background: linear-gradient(-45deg, #f3a9cb, #c1a5ce, #97c5ea, #fdd1a3);
  background-size: 400% 400%;
  animation: gradient 8s infinite;
  margin-bottom: 24px;
  padding: 10% 10% 18% 10%;
  border-radius: 0 0 50px 50px;
}
/* ---Animation--- */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

p {
  font-size: 1.5rem;
}

/* Button */

button {
  border-radius: 50px;
  background-color: transparent; /* Green */
  border: rgb(28, 28, 28) solid 2px;
  fill: none;
  color: rgb(28, 28, 28);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: rgb(40, 40, 40);
  color: white;
}

/* Projects */

.grid {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 24px;
}

@media only screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .contact-button {
    font-size: 12px;
    padding: 16px 20px;
  }
}

@media only screen and (min-width: 850px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* card */

.card {
  border-radius: 30px;
  min-height: 100%;
  background: #f3a9cb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.card article {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}
.card .thumb {
  border-radius: 30px 30px 0 0;
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card p {
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

.item-1 {
  border-radius: 30px;
  background: #f3a9cb;
}

.item-2 {
  border-radius: 30px;
  background: #c1a5ce;
}

.item-3 {
  border-radius: 30px;
  background: #97c5ea;
}

.item-4 {
  border-radius: 30px;
  background: #fdd1a3;
}

.item-about {
  border-radius: 30px;
  background: #c1a5ce;
}

.thumb {
  filter: opacity(50%);
  transition-duration: 0.4s;
}

.thumb:hover {
  filter: none;
}

/* About */
.grid-about {
  padding-top: 20px;
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2, span 1fr;
  grid-template-rows: auto;
}
.about-img {
  padding: 20px 0 0 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr, span 1fr;
}

.profile {
  border-radius: 50%;
  width: 40%;
}

/* Footer */

footer {
  background-color: #97c5ea;
  margin-top: 24px;
  padding: 1% 5%;
  border-radius: 30px 30px 0 0;
}

.copyright {
  font-size: 10px;
}
.send-button {
  margin-bottom: 20px;
  background: white;
}

/* Form */
input,
textarea {
  width: 80%;
  border: 2px solid rgb(28, 28, 28);
  padding: 5px;
}

label {
  display: block;
  margin: 16px 0;
  color: white;
}

textarea {
  height: 200px;
}

/* selection  */
::-moz-selection {
  /* Code for Firefox */
  color: rgb(40, 40, 40);
  background: white;
}
::selection {
  color: rgb(40, 40, 40);
  background: white;
}

/* Hide scroll bar */
::-webkit-scrollbar {
  display: none;
}
