* {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  position: relative;
  background-color: rgb(28, 28, 28);
  max-width: 1600px auto;
}
svg {
  max-width: 350px;
}

/* typography */
h1 {
  font-size: 2rem;
  font-style: italic;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

span {
  font-weight: bold;
}

/* Header */

header {
  background: linear-gradient(-45deg, #f3a9cb, #c1a5ce, #97c5ea, #fdd1a3);
  background-size: 400% 400%;
  animation: gradient 8s infinite;
  border-radius: 0 0 100px 100px;
  height: 96vh;
  height: calc(var(--vh, 1vh) * 96);
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-description {
  max-width: 50%;
}

.header-scroll-text {
  font-size: 1em;
  color: rgb(236, 236, 236);
  display: none;
}

.brazil {
  color: #fdd1a3;
}
.header-menu {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu a {
  padding-right: 2em;
  font-size: 1.5em;
}

.cv {
  display: flex;
  align-items: center;
  border-radius: 50%;

  border: 2px solid white;
  text-align: center;
}
.cv a {
  padding: 10px;
  margin: auto;
}

/* ---Animation--- */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

p {
  font-size: 1.5rem;
}

/* CATEGORIES */
.category-container {
  margin: 150px 50px 150px 50px;
}
.category-container h2 {
  padding: 0;
  margin-bottom: 0;
}
.category-line {
  border-radius: 25px;
  height: 5px;
  width: 100%;
  background: linear-gradient(-45deg, #f3a9cb, #c1a5ce, #97c5ea, #fdd1a3);
}
/* Button */

button {
  transition-duration: 0.4s;
  background-color: rgb(40, 40, 40);
  border-radius: 25px;
  width: 100px;
  height: 50px;
  border: 1px solid white;
  min-width: 40px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

button:hover {
  background: linear-gradient(-45deg, #f3a9cb, #c1a5ce, #97c5ea);
  transition: all 0.2s ease-in;
  color: white;
}

.button-align {
  display: flex;
  gap: 25px;
}

/* Projects */

.grid {
  padding-top: 4vh;
  padding-top: calc(var(--vh, 1vh) * 4);
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 24px;
}

/* card */

.card {
  border-radius: 25px;
  min-height: 100%;
  background: #f3a9cb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.card .thumb {
  border-radius: 30px 30px 0 0;
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card p {
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

.item-1 {
  background: #f3a9cb;
}

.item-2 {
  background: #c1a5ce;
}

.item-3 {
  background: #97c5ea;
}

.item-4 {
  background: #fdd1a3;
}

.item-about {
  border-radius: 30px;
  background: #c1a5ce;
}

.thumb {
  filter: opacity(50%);
  transition-duration: 0.4s;
}

.thumb:hover {
  filter: none;
}

/* LALALALAL */
.container {
  display: grid;
  grid-template-areas:
    "un un dos"
    "tres cuatro cuatro"
    "cinco cinco ses"
    "siete oto oto";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  row-gap: 200px;
  margin: 50px;
}

.un {
  grid-area: un;
}
.dos {
  grid-area: dos;
}
.tres {
  grid-area: tres;
}
.cuatro {
  grid-area: cuatro;
}
.cinco {
  grid-area: cinco;
}
.ses {
  grid-area: ses;
}
.siete {
  grid-area: siete;
}
.oto {
  grid-area: oto;
}

.background-image {
  border-radius: 25px;
  filter: grayscale(1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-height: 600px;
  height: 100%;
  transition-duration: 0.4s;
}
.background-image:hover {
  filter: grayscale(0);
  transition-duration: 0.4s;
}

.container h3 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}
.container p {
  padding: 50px 0;
}

article {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  max-width: 750px;
}

/* About */
.about-container {
  margin: 50px;
  display: flex;
  gap: 50px;
}

.about-img {
  display: flex;
  text-align: left;
  flex-direction: column;
}
.profile {
  border-radius: 25px;
  filter: grayscale();
  max-width: 200px;
  width: auto;
}
.about-container p {
  padding: 0;
  margin-top: 0;
}

ul {
  padding: 0;
  list-style: none;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}

li {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 2;
}

/* Footer */

footer {
  box-sizing: border-box;
  margin: 50px;
  border-radius: 30px 30px 0 0;
}

.copyright {
  margin-top: 25px;
  font-size: 15px;
}

.send-button {
  margin-bottom: 20px;
  background-color: white;
  color: #444;
}

.container-footer {
  width: 1600px;
  max-width: 1600px auto;
}

/* Form */
input,
textarea {
  width: 80%;
  border: 2px solid rgb(28, 28, 28);
  padding: 5px;
}

label {
  display: block;
  margin: 16px 0;
  color: white;
}

textarea {
  height: 200px;
}

/* selection  */
::-moz-selection {
  /* Code for Firefox */
  color: rgb(40, 40, 40);
  background: white;
}
::selection {
  color: rgb(40, 40, 40);
  background: white;
}

/* Hide scroll bar */
::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 850px) {
  .header-description {
    max-width: 70%;
  }
  .header-info h1 {
    font-size: 1.5rem;
  }
  .header-menu a {
    font-size: 1rem;
  }
  ul {
    padding: 0;
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  .about-container {
    gap: 25px;
  }
  .about-container h3 {
    margin-top: 5px;
  }
  .about-description p {
    font-size: 1rem;
  }
  .profile {
    max-width: 150px;
  }
}

@media only screen and (min-width: 850px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  header {
    padding: 20px;
    border-radius: 0 0 50px 50px;
  }
  .category-container {
    margin: 50px 25px 50px 25px;
  }
  .header-description {
    max-width: 100%;
  }
  .container {
    grid-template-areas:
      "un"
      "dos"
      "cuatro"
      "tres"
      "cinco"
      "ses"
      "oto"
      "siete";
    grid-template-columns: 1fr;
    gap: 50px;
    row-gap: 20px;
    margin: 20px;
  }
  .button-align {
    padding-bottom: 75px;
  }
  .container p {
    padding: 0;
    font-size: 20px;
  }

  .background-image {
    height: 300px;
  }
  .contact-button {
    font-size: 12px;
    padding: 16px 20px;
  }
  .about-container {
    display: block;
    margin: 25px;
  }
  .about-img h2 {
    font-size: 2.5rem;
  }
  footer {
    margin: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .header-menu {
    align-items: baseline;
  }

  .menu-items a {
    padding-right: 1rem;
  }

  .cv {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1601px) {
  footer {
    width: 1600px;
    margin: auto;
    margin-top: 24px;
  }
  header {
    width: 1200px;
    margin: auto;
    margin-bottom: 24px;
  }
}
